.the-talk-home {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundGrey);
    .chats {
        flex-basis: 80px;
    }
    .the-talk-room {
        width: calc(100% - 80px);
    }
    @media screen and(min-width: 768px) {
        .chats {
            flex-basis: 300px;
            max-width: 300px;
        }
        .the-talk-room {
            width: calc(100% - 300px);
        }
    }
}
