html {
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --whiteBlue: #ecfdfd;
    --lightBlue: #b3e5fc;
    --midishBlue: #d3e5ed;
    --midBlue: #acccda;
    --darkBlue: #82b3c9;
    --backgroundGrey: #eaeaea;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}
.flex {
    display: flex;
}
